body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffeed0;
}
img {
    height: 40vh;
}

@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    .container {
        min-height: -webkit-fill-available;
    }
  }